<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		  
<mapper namespace="com.study.boot.qna.QnaMapper">

	<select id="getQnaFile" resultType="QnaFileVO" parameterType="QnaFileVO">
		select * from QNAFILES WHERE FILENUM=#{fileNum}
	</select>

	<select id="getDetail" resultMap="resultDetail" parameterType="QnaVO">
		select * from QNA Q left join QNAFILES F on Q.num = F.NUM where Q.num=#{num}
	</select>
	<resultMap type="QnaVO" id="resultDetail">
		<id property="num" column="num"/>
		<result property="title" column="title"/>
		<result property="writer" column="writer"/>
		<result property="contents" column="contents"/>
		<result property="regDate" column="regDate"/>
		<collection property="qnaFileVOs" javaType="List" ofType="QnaFileVO">
			<id property="fileNum" column="FILENUM"/>
			<result property="fileName" column="FILENAME"/>
			<result property="oriName" column="ORINAME"/>
		</collection>
	</resultMap>
	
	<select id="getTotal" resultType="Integer" parameterType="Pager">
		SELECT count(*) from QNA
		WHERE title LIKE CONCAT('%',#{search},'%')
	</select>
	
	<select id="getList" resultType="QnaVO" parameterType="Pager" >
		select num, title, contents, regDate, writer
		from QNA
		WHERE title LIKE CONCAT('%',#{search},'%')
		ORDER BY NUM DESC 
		LIMIT #{startRow},#{perPage}
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		insert into QNA VALUES (0, #{writer},#{title}, #{contents},0,SYSDATE(),0,0,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES VALUES (0,#{num}, #{fileName}, #{oriName})
	</insert>

</mapper>